.error404 {
    margin-top: 50px;
    display: flex;
    &__message {
        width: 50%;
    }
    &__name {
        font-size: 50px;
    }
    &__text {
        margin-top: 20px;
        font-size: 25px;
    }
    &__link {
        font-size: 25px;
        font-weight: bold;
    }
}